logs
target
*.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/project/*
activator*
.DS_Store
.tmp
.git
node_modules
.settings
*.log
*.iml
*.iml
build
dist
bower_components/
coverage/
app/config/config.js
app/common/i18n/pseudo.json
/avatars/artifacts